# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variables / secrets
.env
.env.*
!.env.example

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Python testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log